<div fxLayoutAlign="center center">
  <button mat-raised-button (click)="buscar()"><mat-icon>search</mat-icon></button>
  <button mat-raised-button><mat-icon>print</mat-icon></button>
  <button mat-raised-button><mat-icon>quit</mat-icon></button>
</div>
<form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <mat-label>Nombre del Proyecto</mat-label>
    <input matInput formControlName="nombreProyecto">
  </mat-form-field>
  <div fxLayoutGap="7px">
    <mat-form-field>
      <mat-label>Codigo</mat-label>
      <input matInput formControlName="codigo">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Ingrese fecha deseada</mat-label>
      <input required  matInput placeholder="dd-mm-aaaa" name="fecha" formControlName="fecha" [matDatepicker]="fechaF">
      <mat-datepicker-toggle matSuffix [for]="fechaF"></mat-datepicker-toggle>
      <mat-datepicker #fechaF></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input matInput formControlName="cliente">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contacto</mat-label>
    <input matInput formControlName="contacto">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Detalle</mat-label>
    <input matInput formControlName="detalle">
  </mat-form-field>
</form>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id" >
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="impuestoReservado">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Impuesto Reservado</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.impuestoReservado}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="gastoPrevisto">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Gasto Previsto</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.gastoPrevisto}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="gastoEjecutado">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Gasto Ejecutado</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.gastoEjecutado}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="costoTotalCompra">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Costo Total Compra</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.costoTotalCompra}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="precioProyecto">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Precio Proyecto</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.precioProyecto}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="utilidadSupuesto">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Utilidad Supuesto</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.utilidadSupuesto}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="costoTotal">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.costoTotal}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
