<div fxLayoutAlign="center center">
  <mat-form-field  color= "primary" fxFlex="30%">
    <input matInput id="input" placeholder="buscador" (keyup)="hacerFiltro($any($event.target).value)">
    <mat-icon fxFlex color="primary">search</mat-icon>

  </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="fecha" >
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.fecha|date:"dd/MM/yyyy" }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="nrodoc">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Número Documento</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.nrodoc}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="responsable">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Responsable</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.responsable}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="proyecto.nombre">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Proyecto</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.proyecto.nombre}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="montoTotal">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.montoTotal}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="observaciones">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Observaciones</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.observaciones}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="agregar">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Agregar</mat-header-cell>
    <mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="agregarNotaAsigna(element)">Agregar</button></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
