<div >
<mat-table style="height:100%" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="codigo">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Codigo</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.codigo}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="pais">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Pais</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.pais.nombre}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Ciudad</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.nombre}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="enlace">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Operación</mat-header-cell>
    <mat-cell *matCellDef="let element"> <button mat-button (click) = "ver(element.id)">editar</button>
     <!-- <button mat-button >eliminar</button>--></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button mat-fab color="warn" id="agregar" (click)="abrirDialog()">
  <mat-icon>add</mat-icon>
</button>
</div>
