<div>
  <mat-card>
    <form (submit)="buscarFecha()">
      <mat-form-field appearance="legacy">
        <mat-label>Ingrese fecha deseada</mat-label>
        <input required  matInput placeholder="dd-mm-aaaa" name="fecha" [formControl]="fechaBuscar" [matDatepicker]="fechaF">
        <mat-datepicker-toggle matSuffix [for]="fechaF"></mat-datepicker-toggle>
        <mat-datepicker #fechaF></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="fechaBuscar.invalid">buscar</button>
    </form>
  </mat-card>
</div>
