<form  [formGroup]="formInsertar" >
  <h1 mat-dialog-title>Agregar Deposito</h1>
  <mat-dialog-content>
    <section fxLayoutAlign="center">
        <mat-card fxFlex="100%">
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-form-field style="width: 100%">
              <mat-label>Ingrese el codigo del deposito</mat-label>
              <input matInput type="text" name="codigo" placeholder="DP-001" formControlName="codigo" required>
              <mat-error>Debe ingresar el codigo del deposito</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 100%">
              <mat-label>Ingrese el nombre del deposito</mat-label>
              <input matInput type="text" name="pais" placeholder="Almacen central" formControlName="nombre" required>
              <mat-error>Debe ingresar el nombre del deposito</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 100%">
              <mat-label>Ingrese la direccion</mat-label>
              <input matInput type="text" name="pais" placeholder="Sucre" formControlName="direccion" required>
              <mat-error>Debe ingresar la direccion</mat-error>
            </mat-form-field>
          </div>
        </mat-card>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" >Cerrar</button>
    <button mat-button [disabled]="formInsertar.invalid" (click)="guardar()" type="submit" >Agregar</button>
  </mat-dialog-actions>
</form>
