<mat-nav-list class="buttonsMenu" color="primary">

  <div fxFlex fxLayout ="column"  fxLayoutAlign="flex-end" fxLayoutGap = "10px">
    <div>
      <a mat-list-item color="acent"  >
       <mat-icon  routerLink='/principal'>people</mat-icon>
       <span >Cotizar Proyecto</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
       <mat-icon  routerLink='/principal'>people</mat-icon>
       <span >Orden posible Compra</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
       <mat-icon  routerLink='/principal'>people</mat-icon>
       <span >Orden cte</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
      <mat-icon  routerLink='/principal'>people</mat-icon>
      <span >Cotizar cte</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
      <mat-icon  routerLink='/principal'>people</mat-icon>
      <span >Nota venta</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
      <mat-icon  routerLink='/principal'>people</mat-icon>
      <span >Cotizar proveedor</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
      <mat-icon  routerLink='/principal'>people</mat-icon>
      <span >Orden compra</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
      <mat-icon  routerLink='/principal'>people</mat-icon>
      <span >Entrada producto</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
      <mat-icon  routerLink='/principal'>people</mat-icon>
      <span >Salida Productos</span>
      </a>
    </div>
    <div>
    <a mat-list-item color="acent"  >
     <mat-icon  routerLink='/principal'>people</mat-icon>
     <span >Gestion Proyecto</span>
    </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
       <mat-icon  routerLink='/principal'>people</mat-icon>
       <span >Proveedores</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
       <mat-icon  routerLink='/principal'>people</mat-icon>
       <span >Vendedores</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
       <mat-icon  routerLink='/principal'>people</mat-icon>
       <span >Clientes</span>
      </a>
    </div>
    <div>
      <a mat-list-item color="acent"  >
       <mat-icon  routerLink='/principal'>people</mat-icon>
       <span >Productos</span>
      </a>
    </div>
</div>
</mat-nav-list>
