<div fxLayoutAlign="center center" fxLayoutGap="5px">
  <button mat-raised-button color="primary"><mat-icon>save</mat-icon>Guardar</button>
  <button mat-raised-button color="warn"><mat-icon>delete</mat-icon>Eliminar</button>
  <button mat-raised-button color="accent" (click)="buscar()"><mat-icon>search</mat-icon>Buscar</button>
  <button mat-raised-button><mat-icon></mat-icon>Cerrar</button>
</div>
<form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <mat-label>Código Proyecto</mat-label>
    <input matInput formControlName="codigoProyecto">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre Proyecto</mat-label>
    <input matInput formControlName="nombreProyecto">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Fecha registro</mat-label>
    <input required  matInput placeholder="mm-dd-aaaa" name="fecha" formControlName="fechaTransaccion" [matDatepicker]="fechaF">
    <mat-datepicker-toggle matSuffix [for]="fechaF"></mat-datepicker-toggle>
    <mat-datepicker #fechaF></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Detalle</mat-label>
    <input matInput formControlName="detalle">
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="15px">
    <div>
      <mat-form-field >
        <mat-label>Fecha cobro</mat-label>
        <input matInput formControlName="fechacobro">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field >
        <mat-label>Fecha cobro ret</mat-label>
        <input matInput formControlName="fechacobroret">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="15px">
     <div>
      <mat-form-field >
        <mat-label>Monto Cobrado</mat-label>
        <input matInput formControlName="montocobrado">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field >
        <mat-label>Monto retencion</mat-label>
        <input matInput formControlName="montoretencion">
      </mat-form-field>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <mat-label>Actualizado por: {{useract}} en: {{fechaact}}</mat-label>
  </div>
</form>
