<div fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="buscarItems()">Buscar</button>
  <button mat-raised-button><mat-icon>print</mat-icon></button>
  <button mat-raised-button><mat-icon>quit</mat-icon></button>
</div>
<form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="center center">
  <div>
  <mat-form-field>
    <mat-label>Nombre del Proyecto</mat-label>
    <input matInput formControlName="nombreProyecto">
  </mat-form-field>
  <button mat-raised-button (click)="buscar()"><mat-icon>search</mat-icon></button>
  </div>
  <div fxLayoutGap="7px">
    <mat-form-field>
      <mat-label>Codigo</mat-label>
      <input matInput formControlName="codigo">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Ingrese fecha deseada</mat-label>
      <input required  matInput placeholder="dd-mm-aaaa" name="fecha" formControlName="fecha" [matDatepicker]="fechaF">
      <mat-datepicker-toggle matSuffix [for]="fechaF"></mat-datepicker-toggle>
      <mat-datepicker #fechaF></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input matInput formControlName="cliente">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contacto</mat-label>
    <input matInput formControlName="contacto">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Detalle</mat-label>
    <input matInput formControlName="detalle">
  </mat-form-field>
</form>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id" >
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="accion">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Acción</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.accion}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.fecha | date:"dd/MM/yyyy"}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="responsable">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Responsable</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.responsable}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
