<div fxLayoutAlign="center center" >
  <button type="button" (click)="buscar()" mat-raised-button>Buscar</button>

</div>
<form  [formGroup]="formGroup" fxLayoutGap="30px" fxLayoutAlign="center center">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text"
          placeholder="Nombre del Cliente"
          aria-label="Cliente"
          matInput
          formControlName="myControl"
          required
          [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form >
<mat-table  [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id" >
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.fecha}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="nrodoc">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Nro doc</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.nrodoc}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="oper">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Operación</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.oper}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="monto">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.monto}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="detalle">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Detalle</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.detalle}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="useract">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Responsable</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.useract}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="desctoa">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Desctoa</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.desctoa}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="desctob">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Desctob</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.desctob}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="costoTotal">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Costo Total</mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.costoTotal}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
