<div fxLayoutAlign="center center" >
  <button type="button" (click)="buscar()" mat-raised-button>Buscar</button>

</div>
<form  [formGroup]="formGroup" fxLayoutGap="30px" fxLayoutAlign="center center">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text"
          placeholder="Nombre del Proveedor"
          aria-label="Proveedor"
          matInput
          formControlName="myControl"
          required
          [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
  <button mat-icon-button (click)="buscarProveedores()"><mat-icon>search</mat-icon></button>
</form >
<div >
  <div fxLayoutAlign="center center">
    <mat-form-field  color= "primary" fxFlex="30%">
      <input matInput id="input" placeholder="buscador" (keyup)="hacerFiltro($any($event.target).value)">
      <mat-icon fxFlex color="primary">search</mat-icon>

    </mat-form-field>
  </div>
  <div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id" >
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cotizProducto.oper">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Tipo Trans</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.cotizProducto.oper}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cotizProducto.nrodoc">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Nro documento</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.cotizProducto.nrodoc}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cotizProducto.fecha">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.cotizProducto.fecha|date:"dd/MM/yyyy"}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="producto.nombre">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.producto.nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.cantidad}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cotizProducto.factura">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Factura</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.cotizProducto.factura}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cotizProducto.useract">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Responsable</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.cotizProducto.useract}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="precio">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Costo</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.precio}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="monto">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Costo Total</mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.monto}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
